.document{
    margin: 4rem;
    background: #fff;
}
.document-container{
    align-items: center;
    max-width: 850px;
    width: 100%;
    margin: 0 auto;
}

embed{
    height: 1070px;
    width:850px;
}

@media only screen and (max-width: 1070px) {
    embed{
        width: 100%;
        height: auto;
    }
    .document-container{
        max-width: 100%;
    }
    .document{
        margin: 1rem;
        background: #fff;
    }
  }