.projects{
    margin: 4rem;
    background: #fff;
}

h1{
    text-align: center;
    font-size: 1em;
}

.projects__container{
    align-items: center;
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
}
.projects__wrapper{
    position: relative;
    margin: 50px 0 45px;
    min-height: fit-content;
}
.projects__items{
    margin-bottom: 1em;
    list-style-type: none;
    min-height: fit-content;
    align-items: center;
}

.project-item{
    display: flex;
    flex-flow: row;
    text-align: center;
    min-width: 90%;
    max-width: 100%;
    padding: 1rem 0rem;
    min-height: fit-content;
    justify-content: center;
}
.project-item-link{
    display: flex;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    font-weight: lighter;
    color: #252e48;
}

.project-item-subtext{
  font-size: .35em;
    font-weight: lighter;
}

.project-item-img{
    position: relative;
    width: 40%;
    overflow: hidden;
    height: auto;
    object-fit: cover;
    align-self: center;
}
.project-item-info{
    padding: 20px 30px 30px;
    width:50%;
    text-align: left;
    
  }
.project-item-spacer{
  width: 10%
}
  .project-item-text{
    color: #252e48;
    font-size: .4em;
    line-height: 24px;
}  
.fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }

  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }
    .cards__item__link {
      width: 90%;
    }
  .project-item-link{
    flex-direction: column;
}
.project-item-img{
    width: 6em;

}
.projects__container{
    width: 90%;
}
.project-item-info{
    width: 100%;
    height: auto;
}
.projects{
  width: 90%;
 margin: 1rem;
}
.project-item{
  width: 100%;
  padding-top: .5em;
}
}