.projects{
    padding: 4rem;
    background: #fff;
    display:inline-block;
}

h1{
    text-align: center;
}

.projects__container{
    display: inline;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
}
.projects__wrapper{
    position: relative;
    margin: 50px 0 45px;
}
.projects__items{
    margin-bottom: 2em;
    list-style-type: none;
}

.project-item{
    display: inline-block;
    align-items: center;
    text-align: center;
    max-width: 100%;
    padding: 1rem 2rem;
}
.project-item-link{
    display: inline-flex;
    width: 80%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    font-weight: lighter;
    color: #252e48;
}

.project-item-subtext{
  font-size: .35em;
    font-weight: lighter;
}

.project-item-img{
    position: relative;
    width: 30%;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    object-fit:cover
}
.project-item-info{
    padding: 20px 30px 30px;
    width:50%;
    text-align: left;
    
  }
.project-item-spacer{
  width: 20%
}
  .project-item-text{
    color: #252e48;
    font-size: .4em;
    line-height: 24px;
}  
.fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }

  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }
  



  .project-item-link{
    flex-direction: column;
}
.project-item-img{
    width: 100%;
}
.project-item-info{
    width: 100%;
}
}